extends ../base.pug
include ../mixins/searchVideo.pug

block content 
    div.searchVideo-grid
        each potato in videos 
            +video(potato)
        else 
            span No Videos Found.