.video-watch {
  padding: 80px 0px;
  padding-left: 50px;
  display: flex;
  flex-direction: column;
  .video-watch__screen {
    width: 65%;
    position: relative;
    video {
      width: 100%;
    }
    .video-watch__screen--controllers {
      background-color: black;
      padding: 0px 12px;
      .video-watch__screen--timeline {
        input {
          cursor: pointer;
          width: 100%;
        }
      }
      .video-watch__screen--button {
        box-sizing: border-box;
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: white;
        font-size: 20px;

        .play,
        .volume,
        .time,
        .screen {
          padding: 12px;
          cursor: pointer;
        }

        .controllers__first-block {
          display: flex;
          align-items: center;
          .time {
            font-size: 15px;
            cursor: initial;
          }
        }
      }
    }
  }
  .video-watch__choice {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    a {
      color: $blue;
      &:first-child {
        margin-bottom: 5px;
      }
    }
  }
  .video-watch__content {
    width: 65%;
    .video-watch__content--title {
      width: 95%;
      font-size: 27px;
      overflow-wrap: break-word;
      padding-top: 10px;
    }
    & > div {
      color: $standard_color;
      display: flex;
      padding: 20px 0px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
      .video-watch__content--dot {
        margin: 0px 5px;
      }
    }
  }
  .video-watch__owner {
    padding: 20px 0px;
    display: flex;
    align-items: center;

    .video-watch__owner--avatar {
      a {
        img {
          width: 48px;
          height: 48px;
          border-radius: 50%;
          margin-right: 13px;
        }
      }
    }
    .video-watch__owner--text {
      a {
        .video-watch__owner--username {
          font-size: 17px;
          color: rgba(0, 0, 0, 0.8);
        }
      }
      .video-watch__owner--description {
        margin-top: 5px;
        color: rgba(0, 0, 0, 0.6);
      }
    }
  }
}
