// Config
@import "./config/_reset.scss";
@import "./config/_variables.scss";

// Partials
@import "./partials/header.scss";
@import "./partials/videoChoice.scss";
@import "./partials/userProfileChoice.scss";

// Common
@import "./common/background-circle.scss";

// Users
@import "./users/uploadVideoBase.scss";
@import "./users/dashboard.scss";
@import "./users/login.scss";
@import "./users/join.scss";
@import "./users/editProfile.scss";

// Videos
@import "./videos/home.scss";
@import "./videos/watch.scss";
@import "./videos/editVideo.scss";

a {
  text-decoration: none;
  color: $standard_color;
  &:active {
    color: $blue;
  }
}

body {
  font-family: Roboto, Arial, sans-serif;
  height: 100vh;
  main {
    height: 100%;
  }
  &.hideScroll {
    overflow: hidden;
  }
}
