doctype html
html
    head
        meta(charset="UTF-8")
        link(rel="stylesheet", href="https://unpkg.com/mvp.css")
        title=pageTitle
    body 
        include ./partials/header.pug
        main 
            block content
        include ./partials/footer.pug
