doctype html
html
    head
        meta(charset="UTF-8")
        title Home
    body 
        include ./partials/header.pug
        main 
            block content
        include ./partials/footer.pug
