header 
    a(href="/")
        i.fab.fa-youtube
    br
    nav
        ul
            if !loggedIn
                li
                    a(href="/login") Login
                li
                    a(href="/join") Join
            else
                li 
                    a(href=`/users/${user._id}/upload-video`) Upload Video
                li
                    a(href=`/users/${user._id}`) Edit Profile
                li
                    a(href="/logout") Logout