div.userProfileIcon.hidden
    if loggedUser
        div.userProfileIcon__avatar
            include ./showAvatar.pug
        div.userProfileIcon__info
            span=loggedUser.username
            span=loggedUser.email 
            div.userProfileIcon__info--choice
                a(href=`/users/${loggedUser._id}`) profile 
                // 본인이 올린 video
                a(href="#") video
                a(href="/logout") logout 