div.video__choice.hidden
    if loggedUser
        a(href=`/users/${loggedUser._id}/upload-video`) 
            i.fab.fa-youtube-square
            span upload video
        a(href="#") 
            i.fas.fa-record-vinyl
            span record video