extends ../base.pug

block content 
    include ../partials/errorMessage
     div.changePassword-container
        div.changePassword-block
            div.changePassword-header 
                i.fas.fa-lock
                span Change Password
            form(method="POST").changePassword-form
                div.changePassword-form__previous-password
                    span Previous Password
                    input(type="password",  name="current__password", required)
                div.changePassword-form__current-password
                    span Current Password
                    input(type="password", name="change__password1", required)
                div.changePassword-form__confirm-password
                    span Confirm Password
                    input(type="password", name="change__password2", required)
                div.changePassword-form__submit
                    input(type="submit", value="Change Password")