extends ./uploadVideoBase.pug

block dashboard 
    section.videoContainer
        h2.videoContainer__title 
            span Channel [choice]
        div.videoContainer__content
            div.video__upload
                form(method="POST", enctype="multipart/form-data")
                    i.fas.fa-caret-square-up
                    span Please upload your video.
                    label(for="videoFile") select
                    span#videoTitle
                    input(type="file", id="videoFile", name="videoFile", accept="video/*")
                    input(type="text", name="title", placeholder="Title", required)
                    input(type="text", name="description", placeholder="Description")
                    input(type="submit", value="Upload")
            div.video__analysis
                span Number of videos uploaded
            div.video__settings
                h3 hello