extends ../base.pug
include ../mixins/userInfo.pug

block content 
    if user.avatarUrl
        include ../partials/showAvatar.pug
    else 
        span 😀
    form(method="POST", enctype="multipart/form-data")
        label(for="avatar") Avatar
        input(type="file", id="avatar", name="avatarUrl", accept="image/*")
        input(type="text", placeholder="Username", name="username", value=user.username, required)
        +userInfo({
            value: user.birth,
            placeholder: "Birth",
            name: "birth"
        })
        +userInfo({
            value: user.gender,
            placeholder: "Gender",
            name: "gender"
        })
        +userInfo({
            value: user.phone,
            placeholder: "Phone",
            name: "phone"
        })
        input(type="submit", value="Edit")
    br
    if user.socialLogin === "local"
        a(href=`/users/${user._id}/change-password`) Change Password