extends ../base.pug

block content 
    form(method="POST")
        input(type="text", placeholder="Username", name="username", value=user.username, required)
        input(type="text", placeholder="Birth", name="birth")
        input(type="text", placeholder="Gender", name="gender")
        input(type="text", placeholder="Phone", name="phone")
        input(type="submit", value="Edit")
    br
    a(href=`/users/${user._id}/change-password`) Change Password