extends ../base.pug

block content 
    include ../partials/errorMessage

    div.recordVideo__div
        div.recordVideo__block
            video.recordVideo
            button.recordBtn start

block recordVideo
    script(src="/assets/js/recordVideo.js") 